body {
margin: 0;
padding: 0;
background: #fff;
color: #292f33;
font-family: Arial, sans-serif;
font-size: 14px;
line-height: 18px;
}

#positionsite {
width: 900px;
margin: 0 auto;
}

#logo {
width: 54px;
height: 36px;
margin-top: 40px;
background-image: url("images/logo.png");
}

#logoname {
font-size: 22px;
font-style: italic;
color: #c90628;
margin: -22px 70px;
}

#logoname span {
color: #777;
}

#header {
float: right;
width: 639px;
height: 364px;
background-image: url("images/header.png");
}

#content {
float: right;
padding: 10px;
width: 630px;
}

#content h1 {
font-size: 20px;
}

#content #italic {
font-style:italic;;
}

#topmenu {
width: 200px;
padding: 10px;
margin: 40px 0px;
}

#topmenu li {
padding: 10px;
margin-bottom: 3px;
list-style-image: url("images/menu-bullet.png");
list-style-position: inside;
background-color: #2b262d;
}

#topmenu li:hover {
background-color: #c71626;
list-style-image: url("images/menu-bullet_curr.png");
}

#topmenu a {
display: block;
text-decoration: none;
color: #fff;
}

#namecategories {
width: 190px;
margin-top: -30px;
padding: 12px;
background-color: #695e6e;
color: #faf9e7;
}

#categories {
width: 215px;
padding: 10px;
margin: -10px -10px;
}

#categories li {
padding: 5px;
margin-bottom: 2px;
list-style-image: url("images/submenu-bullet.png");
list-style-position: inside;
background-color: #efefef;
}

#categories a {
display: block;
padding: 3px 5px;
text-decoration: none;
color: #081742;
}

#footer {
width: 100%;
height: 30px;
margin-top: 20px;
padding: 3px;
text-align: center;
color: #e8e6e7;
background-color: #a49fa6;
}

#footer a {
text-decoration: none;
line-height: 30px;
margin: 0px 10px;
color: #e8e6e7;
}

#footer a:hover {
text-decoration: underline;
}

#subfooter {
width: 100%;
text-align: center;
}

#subfooter a{
text-decoration: none;
color: #ce696f;
}

#subfooter a:hover {
text-decoration: underline;
}

#subfooter p {
color: #000;
font-size: 11px;
margin-bottom: -10px;
}